[Unit]
Description=Mount odroid backups share

[Mount]
What=192.168.50.100:/home/nas/backups
Where=/home/nas/backups
Options=noatime
Type=nfs
TimeoutSec=30
ForceUnmount=true

[Install]
WantedBy=multi-user.target
